.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 5ch; */
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.Search { 
    padding-top:10px;


  }
  