.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  text-align: center;
  justify-content: space-between;
  /* cursor: pointer; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* backface-visibility: hidden; */
  /* transform: translateZ(0); */
  /* transition: transform 0.25s ease-out; */
}
  

/* .card-container:hover {
  transform: scale(1.05);
} */

.name {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
  /* padding-left: -10px; */
}

.price {
  width: 35%;
  /* padding-left: px; */
}

.collection-footer {
  width: 100%;
  /* height: 5%; */
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding-left: 0px;
}

/* .collection { */
  /* width: 100%; */
  
  /* padding-right: 50px; */
/* } */

.percent {
  color: red;
  font-style: italic;
  /* padding-bottom: 20px; */

}

/* .cart-button{ */
  /* padding-top: 10px; */
/* } */

.percent-button{
  display: flex;
  flex-direction: column;
}

